@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
body{
   width: 100%;
   font-family: 'Roboto', sans-serif;
   color: #292929;
}
.container{
   width: 100%;
   max-width: 1355px;
   min-width: 1124px;
   margin: 0 auto;
   position: relative;
   z-index: 0;
}
.head{
   &__top{
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: #292929;
   }
}

.logo{
   &__img{
      box-sizing: border-box;
      height: 60px;
      padding: 5px 0;
   }
}
.menu{
   display: flex;
   flex-direction: row;
   list-style: none;
   &__item{
      margin: 0 50px 0 0;
   }
   &__link{
      color: #aaaaaa;
      text-decoration: none;
      border-bottom: 6px solid rgba(58,168,200, 0);
      font-size: 1rem;
      font-family: Roboto;
      padding-bottom: 5px;
      transition: color, border-bottom 400ms;
      &:hover{
         border-bottom: 6px solid rgba(58,168,200, 1);
         color: #fff;
      }

   }
}

.promo-img{
   position: relative;
   background-image: url("../img/header_bg.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   max-width: 1350px;
   max-height: 800px;
   height: 100vh;
   overflow: hidden;

   &__text{
      position: absolute;
      height: 145px;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      top: 180px;

   }
   &__text-item{
      position: relative;
      padding-left: 65px;
      padding-right: 40px;
      line-height: 45px ;
      font-size: 1.5rem;
      background-color: rgba(255, 255 , 255, .8);
      left: -500px;
   }
   &__img {
      width: 100%;
      height: auto;
   }
}

.series{
   width: 960px;
   margin: 0 auto;
   .seriesTab{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;
      border-bottom: 1px solid #e4e4e4;
   }
   .seriesTab__item{
      display: inline-block;
      margin-top: 20px;
      a{
         text-decoration: none;
         font-weight: 600;
         display: block;
         font-size: 0.8rem;
         color: #292929;
         padding-bottom: 4px;
         border-bottom: 3px solid transparent;
         transition: border 400ms;
         &:hover {
            border-bottom: 3px solid #3aa8c8;
         }
      }
   }
   .series__preview-container{
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: row;

   }
   .series__preview-img{
      width: 180px;
      padding: 5px 15px;
   }
   .series__preview-text{
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 20px;
      font-family: Roboto;
      color: #292929
   }

}

.content__head{
      font-weight: bold;
      font-size: 0.8rem;
      font-family: 'Roboto';
      margin-bottom: 10px;
}
.function{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-top: 10px solid #e4e4e4;
      background-image: url("../img/pg3/tv2.png");
      background-repeat: no-repeat;
      background-size: 900px auto;
      background-position: 0 90px;
   &__tv{
//      background-image: url("../img/pg3/tv.png");
//      background-repeat: no-repeat;
//      background-position: -10% 0;
//      background-size: 650px auto;
      position: relative;
      width: 50%;
      height: 396px;
      margin-left: 30px;
      .tv-img{
         position: absolute;
         left: -30px;
         top: 0;
         width: 600px;
         height: auto;
         z-index: 10;

      }
      .tv__text{
         width: 400px;
      }
      .tv__content{
         margin-left: 460px;
         .tv__con-img{
            height: 48px;
            margin-top: 10px;
            margin-left: 20px;
         }
      }
//      &::after{
//         content: "";
//         height: 0;
//         display: block;
//         clear: both;
//      }
   }
   &__tv-img{
//      height: 500px;
//      float: left;

   }
   &__inner{
      width: 960px;
      margin: 0 auto 20px;
   }
   .audio__head{
      margin-top: 8px;
   }
   .audio__text{
      margin-top: 15px;
      width: 300px;
   }
   &__audio{
      padding-right: 20px;
      &-specImg{
         width: 185px;
         margin-top: 20px;
      }
      &-slotImg{
         width: 52px;    
         margin-left: 50px;
         padding-bottom: 35px;
      }
   }
   .function__block-tv-audio{
      width: 100%;
      display: flex;
      flex: 1 1 100%;
      justify-content: space-between;

   }
   &__light{
      background-color: #e4e4e4;
      position: relative;
      margin-top: 80px;
      width: 57.3%;
   }
   .light__content{
      &-text{
         position: absolute;
         background-color: #ffffff;
         display: inline-block;
         padding: 15px;
         top: 250px;
      }
   }
   .light__shem{
      margin: 20px 0 0 20px;
      max-width: 745px;
      &>.shem__item{
            .shem-light__text{
                  width: 130px;
            }
            width: 150px;
            position: relative;
            z-index: 100;
            margin-bottom: 20px;
            span{
                  margin-top: 20px; 
                  position: relative;
                  z-index: 100;
            }
            &::after{
                  content: '';
                  display: block;
                  position: absolute;
                  z-index: 10;
                  right: -5px;
                  bottom: 15px;
                  height: 20px;
                  width: 120px;
                  background-color: #fff;
            }
            &:nth-child(4n)::after{
                  display: none;
            }
      }

   }
   &__container{
         display: flex;
         flex-direction: column;
         position: relative;
         width: 42.7%;
   }
   &__rollet{
      margin-top: 0px;
      display: flex;
      position: relative;
      margin-bottom: 88px;
      justify-content: flex-end;
      &>img{
         width: 235px;
         height: auto;
         position: absolute;
         z-index: 100;
         left: 0;
      }
      .rollet__content{
            height: 300px;
            width: 400px;
            background-color: #fff;
            padding: 50px 50px 50px 150px;
            margin-top: 150px;
            position: relative;
            margin-left: 10px;
            z-index: 10;
      }
      .rollet__content>img{
         width: 52px;
         margin-top: 30px;
      }
   }
   &__charge{
         background-color: #ffffff;
         padding: 30px 80px 20px 53px;
         display: flex;
         .charge__gadget-img{
               display: flex;
               justify-content: center;

               img{
                  display: flex;
                  align-self: flex-end;
                  margin-right: 4px;
                  &::last-child{
                        margin-right: 0;
                  }
               }
               
         }
         .charge__ipad{
            height: 200px;
         }
         .charge__iphone{
            height: 100px;
         }
         .charge__ipod{
            height: 75px;
         }
   }
}
.function__block-light-rolet{
   border-top: 10px solid #fff;
      background-color: #e4e4e4;
   display: flex;
   flex: 0 1 100%;
   flex-wrap: wrap;
   flex-direction: row;

}
.charge__content-right{
      margin-left: 30px;
      img{
            width: 52px;
      }
}
.charge__usb{
  width: 52px;
  height: 146px;
}
.shem__item {
   display: inline-block;
}
   .shem__item>p{
      width: 157px;
      font-size: 0.8rem;

}
.shem-light__img1{
   width: 52px;
   display: inline-block;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 0 0;
}
.shem-light__img2{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 52px 0;
}
.shem-light__img3{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 104px 0;
}
.shem-light__img4{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 156px 0;
}
.shem-light__img5{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 208px 0;
}
.shem-light__img6{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 260px 0;
}
.shem-light__img7{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 312px 0;
}
.shem-light__img8{
   display: inline-block;
   width: 52px;
   height: 48px;
   overflow: hidden;
   background-image: url("../img/pg3/light-sprite.jpg");
   background-position: 364px 0;
}
.clearFloat{
   clear: both;
}
.catalog-note{
      p{
            line-height: 40px;
            margin-left: 20px;
      }
}
.contact__container{
       background-color: #E4E4E4;
       padding-bottom: 100px;
}
.contact{
   max-width: 960px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   &__head{
         display: flex;
         flex: 1 0 100%;
         
   }
   &__form{
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .contact__form-mail{
            padding-left: 10px;
            width: 50%;
      }
      .contact__form-text{
            width: 50%;
      }
      input[type='text'],input[type='email']{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            border: none;
      }
      .contact__form-comment{
            width: 100%;
      }
      textarea{
            box-sizing: border-box;
            width: 100%;
            height: 70px;
            border: none;
            margin-top: 10px;
            resize: none;
      }
}
      &__form-submit{
            background-color: #e3e3e3;
            border: 1px solid #9dcbd8;
            margin-top: 10px;
            &:hover{
                  box-shadow: 2px 2px 3px #bfbfbf;
            }
      }
  
   svg{
      width: 40px; 
      height: 40px;
      stroke: #e3e3e3; 
      fill: #fff;
      stroke-width: 1px;
      vertical-align: bottom;
   }
   &__rec{
      margin-left: 70px;
      margin-top: 20px;
      .contact__text{
            margin-bottom: 20px;
      }
      .contact__phone-svg, .contact__email-svg{
            margin-right: 35px;
      }
      .contact__phone, .contact__email{
            font-size: 2rem;
            line-height: 40px;
      }
      
   }
}
.function__head, .contact__head,.series__head, .download__head{
   font-weight: 300;
   font-size: 2rem;
   padding: 20px 0;
}
.series__text, .function__text, .tv__text, .audio__text, .light__text, .shem-light__text, .rollet__text, .charge__text, .container__text{
   font-weight: 100;
   font-size: 0.9rem;
   line-height: 1.2rem;
   text-shadow: 0.2px 0.2px;
}
.line-gray{
   height: 10px;
   background-color: #e4e4e4;
}
.download__container{
      background-color: #fff;
}
.download{
      max-width: 960px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__head{
            display: flex;
            flex: 1 0 100%;
      }
      &__link{
            display: flex;
            align-items: center;
            position: relative;
      }
      &__img{
      }
      &__text{
            position: absolute;
            left: 65%;
            width: 193px;
      }
}
.close{
   position: fixed;
   z-index: 100;
   background-color: #ffce42;
//   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   &>img{
     width: 300px;
     height: auto;
   }
}
.hidden{
   display: none;
}
@media all and (max-width: 1200px){
      html{
            font-size: 10px;
      }
}
@media (min-width: 1200px){
      html{
            font-size: 12px;
      }
}
@media (min-width: 1400px){
      html{
            font-size: 14px;
      }
}